# Virtual Environment
venv/
NLP/venv/

# Existing entries
__pycache__/
__pycache__/*
.idea/
*.pyc
*.pyo
/__pycache/*
/pycache/


NLP/app/__pycache__

NLP/app/__pycache__/*
NLP/app/__pycache__/__init__.cpython-312.pyc
NLP/app/__pycache__/__init__.cpython-312.pyc
NLP/app/__pycache__/openAiText.cpython-312.pyc
NLP/app/__pycache__/routes.cpython-312.pyc
NLP/app/__pycache__/services.cpython-312.pyc

.github/copilot-instructions.md