services:
  # NLP Service - AI Chatbot sa OpenRouter API
  - type: web
    name: faculty-nlp
    env: python
    region: frankfurt
    plan: free
    buildCommand: cd NLP && pip install -r requirements.txt
    startCommand: cd NLP && gunicorn --bind 0.0.0.0:$PORT main:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: OPENROUTER_MODEL
        value: mistralai/ministral-8b
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 5000
      - key: USE_RAG
        value: false
